.skills {
    font-family: 'myFont';
    font-size: 20px;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 250px;
    padding-right: 250px;
}

.slash{
    color: rgb(112, 2, 254);
}

.lang{
    text-align: center;
}

.list span{
    display: inline-flex;
    background-color: rgb(36, 36, 36);
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.list{
    /* border-style: solid; */
    border-color: rgb(112, 2, 254);
}

/* .mine{
    text-align: center;

    border-style: solid;
    border-color: red;
} */

/* .examples{
    background-color: rgb(57, 0, 132);
    text-align: left;
    margin: 0px 100px 20px 100px;

    border-radius: 10px;
}

.text{
    font-family: 'myFont2';   
    padding: 10px 20px 0px 20px;

    border-style: solid;
    border-color: wheat;
}

.examples img{
    width: 30px;
    height: 30px;
    display: inline-block;
}

.examples h3{
    display: inline-block;
    margin-left: 10px;
}

.desc{
    font-family: 'myFont2';
    font-size: 17px;
    border-style: solid;
    border-color: wheat;
    padding: 0px 20px 10px 20px;
} */