h3{
    margin-top: 15px;
    margin-bottom: 7px;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.contain{
    margin-top: 70px;
    text-align: center;
}

.title{
    margin-top: 40px;
    position: relative;

    font-family: 'myFont';
    font-size: 42px;
    /* border-style: solid; */
    border-color: green;
}

.title::after{
    content: "";
    position:absolute;
    bottom: -12px;
    left: 50%;
    border: 3px solid rgb(112, 2, 254);
    width: 30%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.title:hover::after{
    width: 100%;
}

.link{
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Dynamically fit items, 3 per row if possible */
    gap: 20px; /* Space between the cards */
    justify-content: center; /* Center the entire grid */
    margin-top: 60px;
    padding: 20px;
    width: 100%; /* Ensure it spans the container */
    max-width: 1200px; /* Set max width for large screens */
    margin: 0 auto; /* Center the container */
}


.example {
    padding: 10px;
    border-color: rgb(112, 2, 254);
    width: 100%; /* Make the cards flexible to fit within their grid column */
    max-width: 350px; /* Ensure the cards don’t get too wide */
    margin: 0 auto; /* Center the card inside its grid cell */
}


.thumb{
    background-color: rgb(36, 36, 36);
    padding: 1rem;
    border-radius: 10px;
}

.pic{
    width: 100%;
    border-radius: 10px;

    cursor: pointer;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pic:hover{
    box-shadow: 0px 0px 200px -50px rgb(112, 2, 254);

    transform: scale(0.95);
}

.pname{
    font-family: 'myFont2';
    /* color: rgb(112, 2, 254); */
    font-size: 20px;
    margin-left: 10px;
    text-align: left;

    cursor: pointer;

    transition: color 0.3s ease;
}

.pname:hover{
    color: rgb(112, 2, 254);
}

.tool{
    font-family: 'myFont2';
    color: rgb(112, 2, 254);
    font-size: 19px;
    margin-left: 10px;
}

.desc{
    font-family: 'myFont2';
    margin-left: 10px;
}